<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="../js/color-modes.js"></script>
    <link
      rel="stylesheet"
      href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
    />
    <link rel="shortcut icon" href="../img/ali.png" type="image/x-icon">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Home page</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" />


    <!-- Custom styles for this template -->
    <link href="../css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/myStyle.css" />
    <link rel="stylesheet" href="../css/dark-light.css">

  </head>
  <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    width: 99.5%;
    }
  </style>
  <body>

    <%- include('../Component/dark-light.ejs') %>

    <main class="d-flex flex-nowrap">
      <%- include('../Component/sidebar.ejs', {currentPage : 'index'}) %>
      <section class="w-100">

        <%- include('../Component/navbar.ejs') %>

      <p><a href="/hoooommme.html">Home</a> ><a href="/dataRealty">Houses-reantie</a></p>


        <div style="max-height: 86vh; overflow-y: scroll; scrollbar-width: none;">
        <table style="width: 100%;" id="example"  class="text-center mx-auto table mt-5 table-striped table-bordered" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ville</th>
                <th scope="col">Quartier</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Telephone</th>
                <th scope="col">Type</th>
                <th scope="col">Prix(dh)</th>
                <th scope="col">Modification</th>
                <th scope="col">Creation</th>

                <th scope="col">Chambres</th>
                <th scope="col">position</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            
            <tbody>
                <% if (dataRealty.length === 0) { %>
                  <tr>
                    <td colspan="12">No customers found.</td>
                  </tr>
                <% } else { %>
                  <% dataRealty.forEach((house, index) => { %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= house.city %></td>
                      <td><%= house.neighborhood %></td>
                      <td><%= house.partnerName %></td>
                      <td><%= house.partnerLastName %></td>
                      <td><%= house.phoneNumber  %></td>
                      <td><%= house.type %> </td>
                      <td><%= house.price %> </td>
                      <td><%= moment(house.updatedAt).startOf('minute').fromNow() %></td>
                      <td><%= moment(house.createdAt).startOf('minute').fromNow() %></td>
                      <td><%= house.rooms.RoomCount %></td>
                      <td><a target="_blank" href="<%= house.position %>">show map</a></td>
                      <td>
                        <a data-bs-toggle="tooltip" data-bs-title="View details" data-bs-placement="bottom"
                           class="btn btn-primary btn-sm" href="">
                          <i class="bi bi-eye"></i>
                        </a>
              
                        <a data-bs-toggle="modal" data-bs-target="#edithouse<%= house.id %>" data-bs-title="Edit house" data-bs-placement="top"
                           class="btn btn-primary btn-sm" href="">
                          <i class="bi bi-pencil"></i>
                        </a>

                        <!-- edit modal -->
                        <div class="modal fade" id="edithouse<%= house.id %>" tabindex="-1" 
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Update realty</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                What do you need?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                  <button type="submit" class="btn btn-primary"> <a class="link-underline link-underline-opacity-0 link-body-emphasis" href="./realty/<%= house._id %>-eimgs">Edit IMG</a></button>
                                  <button type="submit" class="btn btn-primary"><a class="link-underline link-underline-opacity-0 link-body-emphasis" href="./realty/<%= house._id %>-edit">Edit general</a></button>

                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Button to trigger the correct modal -->
                        <button data-bs-toggle="modal" data-bs-target="#deleteModal<%= house.id %>" 
                                class="btn btn-danger btn-sm">
                          <i class="bi bi-trash"></i>
                        </button>
              
                        <!-- Customer-specific Modal -->
                        <div class="modal fade" id="deleteModal<%= house.id %>" tabindex="-1" 
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Realty</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete <strong><%= house.id%></strong>?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <form action="./realty/<%= house.id %>-delete?_method=DELETE" method="post">
                                  <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
              
                      </td>
                    </tr>
                  <% }); %>
                <% } %>
              
            



            </tbody>
          </table>
        </div>
      </section>
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
    <script src="../js/sidebars.js"></script>
    <script src="../js/main.js"></script>
    <script>
      new DataTable('#example');
    </script>
  </body>
</html>
