<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
  <script src="../js/color-modes.js"></script>
  <link rel="stylesheet" href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
  <link rel="shortcut icon" href="../img/ali.png" type="image/x-icon" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.112.5" />
  <title>Add House Information</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet" />
  <link href="../css/sidebars.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/myStyle.css" />
  <link rel="stylesheet" href="../css/dark-light.css" />
</head>
<style>
  * {
    padding: 0;
    margin: 0;
  }

  #houseContainer {
    max-height: 88vh;
    overflow-y: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
  }
</style>

<body>
  <%- include('../Component/dark-light.ejs') %>

    <main class="d-flex flex-nowrap">
      <%- include('../Component/sidebar.ejs', { currentPage: 'add' }) %>

        <section class="w-100">
          <%- include('../Component/navbar.ejs') %>

            <div class="container mt-5 " id="houseContainer">
              <h1 class="text-center mb-4">Add House Information</h1>


              <form action="/user/addhouse.html" method="POST">
                <input type="hidden" name="id" value="<%= house ? house._id : '' %>">
                <h3 class="mt-4">Partner Information</h3>
                <div class="row">
                  <div class="mb-3 col-md-4">
                    <label for="partnerName" class="form-label">Nom:</label>
                    <input type="text" class="form-control" id="partnerName" name="partnerName"
                      placeholder="Enter partner's name" value="<%= house ? house.partnerName : '' %>">
                  </div>
                  <div class="mb-3 col-md-4">
                    <label for="partnerLastName" class="form-label">Prénom:</label>
                    <input type="text" class="form-control" id="partnerLastName" name="partnerLastName"
                      placeholder="Enter partner's name" value="<%= house ? house.partnerLastName : '' %> " />
                  </div>
                  <div class="col-md-4">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
                      placeholder="Enter phone number" pattern="[0-9]{10}"
                      value="<%= house ? house.phoneNumber : '' %>">
                  </div>
                </div>
                <h3 class="mt-4">Apartment Information</h3>
                <div class="row">
                  <div class="col-md-4">
                    <select class="form-select" id="city" name="city">
                      <option selected disabled>Ville</option>
                      <option value="nador" <%=house && house.city==='nador' ? 'selected' : '' %>>Nador</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select" id="neighborhood" name="neighborhood">
                      <option selected disabled>Quartier</option>
                      <option value="hayalmatar" <%=house && house.neighborhood==='hayalmatar' ? 'selected' : '' %>
                        >Hay-Al-Matar</option>
                    </select>
                  </div>

                  <div class="mb-3 col-md-4">
                    <select class="form-select" id="type" name="type">
                      <option selected disabled>villa/appartement</option>
                      <option value="villa" <%=house && house.type==='villa' ? 'selected' : '' %>>Villa</option>
                      <option value="appartement" <%=house && house.type==='appartement' ? 'selected' : '' %>
                        >Appartement</option>
                    </select>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-4">
                    <select class="form-select" id="nightmonth" name="nightmonth">
                      <option selected disabled>nuit/mois</option>
                      <option value="night" <%=house && house.nightmonth==='night' ? 'selected' : '' %>>Par Nuit
                      </option>
                      <option value="month" <%=house && house.nightmonth==='month' ? 'selected' : '' %>>Par Mois
                      </option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select" id="furniture" name="furniture">
                      <option selected disabled>Meubles</option>
                      <option value="true" <%=house && house.furniture==='true' ? 'selected' : '' %>>équipe de meubles
                      </option>
                      <option value="false" <%=house && house.furniture==='false' ? 'selected' : '' %>>sans meubles
                      </option>
                    </select>
                  </div>

                  <div class="mb-3 col-md-4">
                    <!-- <label for="apartmentName" class="form-label">Nom d'appartement</label> -->
                    <input type="text" class="form-control" id="apartmentName" name="apartmentName"
                      placeholder="Enter apartment name" value="<%= house ? house.apartmentInfo.apartmentName : '' %>">
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-4">
                    <label for="floor" class="form-label">étage</label>
                    <input type="number" class="form-control" id="floor" name="floor" placeholder="Enter étage"
                      value="<%= house.apartmentInfo.floor %>">
                  </div>
                  <div class="col-md-4">
                    <label for="area" class="form-label">Surface total(sqm)</label>
                    <input type="number" class="form-control" id="area" name="area" placeholder="Enter surface maision"
                      value="<%= house ? house.apartmentInfo.area : '' %>">
                  </div>
                  <div class="col-md-4">
                    <label for="price" class="form-label">Prix</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Enter prix"
                      value="<%= house ? house.apartmentInfo.price : '' %>">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mt-4 pt-2">
                    <div class="input-group">
                      <input type="text" class="form-control" id="position" name="position"
                        placeholder="Enter house position" value="<%= house ? house.apartmentInfo.position : '' %>">
                      <button type="button" class="btn btn-outline-secondary"
                        onclick="window.open('https://www.google.com/maps', '_blank')">Go to Map</button>
                    </div>
                  </div>
                </div>



                <h3 class="mt-4">Bedrooms</h3>
                <div class="mb-3">
                  <div id="roomContainer">
                    <% if (house && house.rooms.length> 0) { %>
                      <% house.rooms.forEach((room, index)=> { %>
                        <div class="room-item border p-3 mb-3 rounded">
                          <h4>Room #<%= index + 1 %>
                          </h4>
                          <div class="mb-3">
                            <label for="type" class="form-label">Room Type</label>
                            <select class="form-select" name="typee[]" required>
                              <option value="Single" <%=room.typee==='Single' ? 'selected' : '' %>>Single</option>
                              <option value="Double" <%=room.typee==='Double' ? 'selected' : '' %>>Double</option>
                              <option value="Suite" <%=room.typee==='Suite' ? 'selected' : '' %>>Suite</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" name="description[]"
                              rows="2"><%= room.description %></textarea>
                          </div>
                        </div>
                        <% }); %>
                          <% } else { %>
                            <!-- Initial Room Form -->
                            <div class="room-item border p-3 mb-3 rounded">
                              <h4>Room #1</h4>
                              <div class="mb-3">
                                <label for="type" class="form-label">Room Type</label>
                                <select class="form-select" name="typee[]" required>
                                  <option value="Single">Single</option>
                                  <option value="Double">Double</option>
                                  <option value="Suite">Suite</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="persons" class="form-label">How many persons?</label>
                                <input type="number" class="form-control" name="persons[]" min="1">
                              </div>
                              <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" name="description[]" rows="2"></textarea>
                              </div>
                            </div>
                            <% } %>
                  </div>
                  <button type="button" class="btn btn-secondary mb-3" id="addRoomBtn">Add Another </button>

                  <h3 class="mt-4">House Features</h3>
                  <% categories.forEach(category=> { %>
                    <h4>
                      <%= category.section %>
                    </h4>
                    <div class="row">
                      <% category.items.forEach(item=> { %>
                        <div class="col-md-6 mb-3">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="available_<%= item %>"
                              id="<%= item %>" value="true" <% if (house && house.features[category.section] &&
                              house.features[category.section].includes(item)) { %> checked <% } %> />
                              <label class="form-check-label" for="<%= item %>">
                                <%= item %>
                              </label>
                          </div>
                        </div>
                        <% }) %>
                    </div>
                    <% }) %>

                      <h3 class="mt-4">Environment</h3>
                      <% environment.forEach((section, index)=> { %>
                        <div class="mb-4">
                          <h5>
                            <%= section %>
                          </h5>
                          <input type="hidden" class="nameInput" value="<%= section %>"> <!-- Change id to class -->
                          <ul class="list-group" id="list-<%= index %>">
                            <% if (house && house.environment && house.environment[section]) { %>
                              <% house.environment[section].forEach((item, i)=> { %>
                                <li class="list-group-item d-flex align-items-center">
                                  <input type="text" class="form-control me-2" name="<%= section %>Title[]"
                                    placeholder="Title" value="<%= item.title %>" />
                                  <input type="number" class="form-control me-2" name="<%= section %>Distance[]"
                                    placeholder="Distance (km)" min="0" step="0.1" value="<%= item.distance %>" />
                                  <button type="button" class="btn btn-danger btn-sm remove-item-btn">Remove</button>
                                </li>
                                <% }) %>
                                  <% } else { %>
                                    <li class="list-group-item d-flex align-items-center">
                                      <input type="text" class="form-control me-2" name="<%= section %>Title[]"
                                        placeholder="Title" />
                                      <input type="number" class="form-control me-2" name="<%= section %>Distance[]"
                                        placeholder="Distance (km)" min="0" step="0.1" />
                                      <button type="button"
                                        class="btn btn-danger btn-sm remove-item-btn">Remove</button>
                                    </li>
                                    <% } %>
                          </ul>
                          <button type="button" class="btn btn-secondary mt-2 add-item-btn"
                            data-list-id="list-<%= index %>">Add Item</button>
                        </div>
                        <% }) %>

                          <div id="descriptionsContainer"></div>
                          <% house.descriptions.forEach(function(description, index) { %>
                            <div class="form-group description-group">
                              <label for="description">Description <%= index + 1 %>:</label>
                              <textarea class="form-control" name="descriptions[]" rows="3"><%= description %></textarea>
                              <button type="button" class="btn btn-danger mt-2 removeDescriptionBtn">Remove</button>
                            </div>
                            <% }) %>
                          </div>

                        <!-- Add Another Description Button -->
                        <button type="button" class="btn btn-secondary" id="addDescriptionBtn">Add Another Description</button>
                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-primary my-4 w-100">Update House</button>
                  </div>
                  <div class="col-md-6">
                    <button type="reset" class="btn btn-danger my-4 w-100">Reset</button>
                  </div>
                </div>
              </form>
            </div>
        </section>
    </main>

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/sidebars.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/addHouse.js"></script>
</body>

</html>