<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= house.apartmentInfo.apartmentName %> - Booking Page
  </title>
  <link rel="stylesheet" href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="shortcut icon" href="../img/ali.png" type="image/x-icon" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="overnight" />
  <meta name="author" content="overnight booking" />
  <meta name="generator" content="Hugo 0.112.5" />
  <title>Add House Information</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet" />
  <link href="../css/sidebars.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/clientHome.css" />
  <style>
    /* Custom styles */
    .test-color {
      color: #353535;
    }
  </style>
</head>

<body>

  <!-- <script>
  function simplifyObject(obj) { if
    (Array.isArray(obj)) { return obj.map(item=> simplifyObject(item));
    } else if (obj && typeof obj === 'object') {
    const simpleObj = {};
    for (const key in obj) {
    if (obj[key] && typeof obj[key] === 'object') {
    // Extract value if it's a MongoDB-specific field
    if ('$oid' in obj[key]) {
    simpleObj[key] = obj[key]['$oid'];
    } else if ('$numberInt' in obj[key]) {
    simpleObj[key] = parseInt(obj[key]['$numberInt'], 10);
    } else if ('$numberLong' in obj[key]) {
    simpleObj[key] = parseInt(obj[key]['$numberLong'], 10);
    } else if ('$date' in obj[key]) {
    simpleObj[key] = new Date(parseInt(obj[key]['$date']['$numberLong'], 10));
    } else {
    // Recursively simplify nested objects
    simpleObj[key] = simplifyObject(obj[key]);
    }
    } else {
    simpleObj[key] = obj[key];
    }
    }
    return simpleObj;
    }
    return obj;
    }

    // Simplify the complex object
    const simpleObj = simplifyObject(house);
    console.log(simpleObj); -->

  </script>


  <div class="container my-5">
    <!-- Carousel for Images -->
    <div class="row">
      <div class="col-md-6">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% house.images.forEach((image, index)=> { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img src="<%= image %>" class="d-block w-100" alt="House Image">
              </div>
              <% }) %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <% 
          const infoGeneral = house.features["Informations générales"]; 
          const featuresList = [
              { key: "Parking gratuit", icon: "<i class='bx bxs-parking'></i>" },
              { key: "Chambres familiales", icon: "<i class='bx bxs-group'></i>" },
              { key: "Terrasse", icon: "<i class='bx bx-tree'></i>" },
              { key: "Chambres non-fumeurs", icon: "<i class='bx bx-no-entry'></i>" },
              { key: "Service de ménage quotidien", icon: "<i class='bx bxs-broom'></i>" },
              { key: "Internet (Wi-Fi)", icon: "<i class='bx bx-wifi'></i>" },
              { key: "Vue", icon: "<i class='bx bx-camera'></i>" },
              { key: "Cuisine", icon: "<i class='bx bx-chef'></i>" },
              { key: "Ascenseur", icon: "<i class='bx bx-up-arrow'></i>" },
              { key: "Climatisation", icon: "<i class='bx bxs-thermometer'></i>" },
              { key: "Télévision", icon: "<i class='bx bxs-tv'></i>" }
          ];
          %>
          
                <h4>La maison avec  <%= house.rooms.length %> chambres</h3>
                  <div class="info-general">
                    <ul class="features-list">
                      <% featuresList.forEach(feature => { %>
                          <% const isAvailable = infoGeneral.find(item => item.includes(feature.key)); %>
                          <% if (isAvailable) { %>
                              <li>
                                  <%- feature.icon %> <%= feature.key %>
                              </li>
                          <% } %>
                      <% }); %>
                  </ul>

                  <h5 class="my-4">Superficie de l'appartement : <%= house.apartmentInfo.area %> m²</h5>

                  <ul class="rooms-list">
                      <% house.rooms.forEach((room, i) => { %>
                          <li class="room-item">
                              <p class="room-description">Chambres <%= i + 1 %>: <%= room.description %></p>
                          </li>
                      <% }); %>
                  </ul>


                  </div>
        </div>
      </div>


      <!-- House Information -->
      <h2 class="mt-4">
        <%= house.apartmentInfo.apartmentName %>
      </h2>
      <p><strong>Owner:</strong>
        <%= house.partnerName %>
          <%= house.partnerLastName %>
      </p>
      <p><strong>Phone Number:</strong>
        <%= house.phoneNumber %>
      </p>
      <p><strong>Location:</strong>
        <%= house.city %>, <%= house.neighborhood %>
      </p>
      <p><strong>Type:</strong>
        <%= house.type %> - <%= house.nightmonth==='night' ? 'Per Night' : 'Per Month' %>
      </p>
      <p><strong>Furniture:</strong>
        <%= house.furniture==='true' ? 'Furnished' : 'Unfurnished' %>
      </p>
      <p><strong>Price:</strong> $<%= house.apartmentInfo.price %>
      </p>
      <a href="<%= house.apartmentInfo.position %>" target="_blank" class="btn btn-primary btn-sm mt-2">View on
        Map</a>

      <!-- Features List -->
      <h3 class="mt-4">Features</h3>
      <div class="features-section row">
        <% for (let category in house.features) { %>
          <div class="col-md-4 feature-category">
            <h4><i class="bi bi-house"></i>
              <%= category %>
            </h4>
            <ul class="feature-list">
              <% house.features[category].forEach(feature=> { %>
                <li><i class="bi bi-check-circle"></i>
                  <%= feature %>
                </li>
                <% }) %>
            </ul>
          </div>
          <% } %>
      </div>

      <!-- Rooms Details -->
      <h3 class="mt-4">Rooms</h3>
      <div class="row">
        <% house.rooms.forEach(room=> { %>
          <div class="col-md-6 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <%= room.typee %>
                </h5>
                <p class="card-text">
                  <%= room.description %>
                </p>
              </div>
            </div>
          </div>
          <% }) %>
      </div>

      <!-- Nearby Environment -->
      <h3 class="mt-4">Nearby Places</h3>
      <div class="features-section row">
        <% for (let category in house.environment) { %>
          <div class="col-md-4 feature-category">
            <h4><i class="bi bi-geo-alt"></i>
              <%= category %>
            </h4>
            <ul class="feature-list">
              <% house.environment[category].forEach(place=> { %>
                <li><i class="bi bi-check-circle"></i>
                  <%= place.title %> - <%= place.distance %> km
                </li>
                <% }) %>
            </ul>
          </div>
          <% } %>
      </div>


      <script src="../js/bootstrap.bundle.min.js"></script>

</body>

</html>